@use "@angular/material" as mat;

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$primary: mat.define-palette(mat.$indigo-palette, 500, 400, 700);
$primary: mat.define-palette(
  (
    50: #eaf2fd,
    100: #d4e4fa,
    200: #a8c9f4,
    300: #7dadee,
    400: #5193e8,
    500: #2f80ed,
    600: #2165ba,
    700: #154887,
    800: #0a2c54,
    900: #011021,
    contrast: (
      500: white,
    ),
  )
);

$accent: mat.define-palette(mat.$grey-palette);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include mat.all-component-themes($theme);
